.section {
    padding-bottom: 10px;
}

h1.mainpagelist {
    margin-top: 7px;
}

.mainpagelist {
    font-size: 172%;
}

h1.postlink {
    margin-top: 10px;
}

.postlink a {
    margin-left: 15px;
    font-size: 129%;
}

.accounts {
    font-size: 100%;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #000000;
}

.content h1 code, .content h2 code, .content h3 code, .content h4 code, .content h5 code, .content h6 code {
    font-size: 90%;
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #EEEEEE;
    color: #000000;
}

.face-wrapper{
    position: relative;
    top: -50px;
    padding-bottom: 10px;
}

.face {
    border-radius: 50%;
}

.whitespace {
    margin-top: 3%;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}
