{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ if not .Params.menu }}
<p>
  <i>
      {{ if eq .Section "project" }}
      {{ .Params.when }}
      {{ else }}
      <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format "02 Jan, 2006" }}
      </time>
      {{ end }}
  </i>
</p>
{{ end }}
<content>
  {{ .Content }}
</content>

{{ .Scratch.Set "subscribeText" "If you enjoyed this post, please subscribe!" }}
{{ .Scratch.Set "subscribeType" "post" }}
{{- partial "subscribe.html" . -}}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{- partial "comments.html" . -}}
{{ end }}
