<hr>
<div class="container has-text-centered">
    <div class="accounts">
          <a href="/resume.pdf">Resume</a> • <a href="https://scholar.google.com/citations?user=ED9oDz8AAAAJ&hl=en">Google Scholar</a> • <a href="https://github.com/tbenthompson">GitHub</a> • <a href="https://www.linkedin.com/in/ben-thompson-645292125/">LinkedIn</a> • <a href="mailto:t.ben.thompson@gmail.com">Email</a>
    </div>
    <div class="accounts">
        <a href="http://esantorella.com/">My wife is really smart!</a>
    </div>
    <div class="accounts">
        <a href="https://www.instagram.com/wish.dogg/">My dog has more social media presence than 
        I do.</a>
    </div>
</div>
