<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup" style="padding: 20px 0 20px 0;">
  <form action="https://tbenthompson.us1.list-manage.com/subscribe/post?u=be25bc8a8ab56f1fb3e6651c2&amp;id=b407942450" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL" style="font-weight: normal">{{ .Scratch.Get "subscribeText" }}</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@address.com" required>

    <div style="display:none">
      <input type="checkbox" value="1" name="group[377262][1]" id="mce-group[377262]-377262-0" {{ if eq (.Scratch.Get "subscribeType") "post" }}checked{{end}}>Posts
      <input type="checkbox" value="2" name="group[377262][2]" id="mce-group[377262]-377262-1" {{ if eq (.Scratch.Get "subscribeType") "book" }}checked{{end}}>BIEBook
    </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_be25bc8a8ab56f1fb3e6651c2_b407942450" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>

