{{ define "main" }}
    <div class="face-wrapper">
        <img class="face" width="150" src="ben_thompson.jpg"/>
    </div>

    <div class="content">
      {{ .Content }}
    </div>
    <div class="whitespace">
    </div>
    <h1 class="mainpagelist">Work and Projects</h1>
    {{ range (index .Data.Pages 1).Pages }}
    <h1 class="postlink"><a href="{{ .Permalink }}"><div style="width: 130px; display: inline-block">{{ .Params.when}}</div> - {{ .Title }}</a></h1>
    {{ end }}
    <div class="whitespace">

    <h1 class="mainpagelist">Posts</h1>
    {{ range (index .Data.Pages 0).Pages }}
    <h1 class="postlink"><a href="{{ .Permalink }}"><div style="width: 130px; display: inline-block">{{ .Date.Format "Jan 2, 2006" }}</div> - {{ .Title }}</a></h1>
    {{ end }}
    <div class="whitespace">
    </div>
{{ end }}
